html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: url(../img/body-bg.jpg);
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

/* HEADER */

.header {
  background: #275d77;
}
 
.header .wrapper {
 display: flex;
 justify-content: space-between;
 padding: 40px 10px;
 align-items: baseline;
}


.logo a {
  font-size: 30px;
  font-weight: 300;
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  padding: 14px 16px;
  position: relative;
}

.logo a::after {
  content: "hq";
  position: absolute;
  top: 0;
  left: 90px;
  font-size: 30px;
  font-weight: 300;
  color: white;
  border: none;
  padding: 14px 16px;
}

.navigation a {
  color: white;
  font-size: 14px;
  padding: 20px;
}

.navigation a:first-child {
  border-bottom: 2px solid white;
}

.navigation a:hover {
  color: #275d77;
  background: white;
  border-radius: 3px;
}

/* MAIN */
/* SLIDER */

 .main-slider {
  background: url(../img/slider-bg.png) 100%/cover;
} 

.main-slider .wrapper {
  padding: 30px 10px 43px;
}

.watches {
  width: 20%;
} 

.slider-text {
  float: right; 
  clear: both;
  width: 70%;
  transform: translateY(-340px);
}

.slider-text p {
  color: #275d77;
  font-size: 36px;
  font-weight: 300;
  background: white;
  border-radius: 3px;
  padding:  40px 43px 40px 130px; 
  margin: 70px 96px 59px 0; 
}

.slider-text span {
  color: #b4b4b4;
}

.slider-text a {
  color: white;
  font-size: 24px;
  font-weight: 300;
  background: linear-gradient(to bottom, #f2b783 0%,#e9832d 3%,#d64d0d 100%);
  border: 1px solid #c87a47;
  border-radius: 3px;
  padding: 20px 32px;
  position: relative;
  margin-left: 165px;
}

.slider-text a::after {
  content: ">";
  position: absolute;
  background: linear-gradient(to bottom, #f2b783 0%,#e9832d 3%,#d64d0d 100%);
  border: 1px solid #c87a47;
  border-radius: 3px;
  padding: 20px 30px;
  top: -1px;
  left: 100%;
  margin-left: 3px;


}

.watches img {
 margin-left: 132px;
 position: relative;
 z-index: 1;
}

