@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.woff2') format('woff2'),
      url('../fonts/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #f9f6ea;
  font: 11px 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

.header {
  height: 132px;
  background: url(../images/bg-header.jpg) no-repeat;
  background-size: cover;
}

.content .container {
  margin-top: -16px;
  padding: 25px 15px 15px;
  background: #fff;
  border: 1px solid #eeeadc;
  overflow: hidden;
}

.main {
  width: 636px;
  float: left;
}

.main h1,
.sidebar h2 {
  font-size: 20px;
  margin: 0 0 22px;
}

.blog {
  padding: 7px;
  background: #fdfbf1;
  border: 1px solid #ececeb;
}

.blog-inner {
  background: #fff;
  border: 1px solid #ececeb;
}

.blog-article {
  position: relative;
  padding: 7px 7px 7px 24px;
  overflow: hidden;
  margin-bottom: 25px;
}

.blog-article-text {
  width: 50%;
  margin-right: 5%;
  float: left;
}

.blog-article-text h2 {
  position: relative;
  font-size: 36px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 15px;
  color: #656565;
}

.blog-article-text h2::after {
  content: '';
  position: absolute;
  top: 100%;
  left: -10px;
  width: 100%;
  height: 1px;
  background: #eaeaea;
}

.blog-article-text p {
  margin: 0;
  line-height: 1.8;
}

.blog-article-img {
  width: 45%;
  float: left;
}

.blog-article-img img {
  max-width: 100%;
  margin-bottom: 5px;
}

.blog-article-img a {
  display: inline-block;
  padding: 10px 18px;
  background: #fdfbf1;
  color: #656565;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #dbd6c6;
  transition: 0.4s;
}

.blog-article-img a:hover {
  background: #f4f0df;
}

.blog-article::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 14px;
  right: 14px;
  height: 1px;
  background: #eaeaea;
}

.sidebar {
  float: right;
  width: 303px;
}

.sidebar-quotes {
  padding: 7px;
  background: #fdfbf1;
  border: 1px solid #ececeb;
}

.sidebar-quotes-inner {
  padding-bottom: 45px;
  background: #fff;
  border: 1px solid #ececeb;
  line-height: 1.8;
  color: #8d8d8d;
}

.sidebar-item {
  position: relative;
  padding: 20px 8px 18px 14px;
  background: url(../images/bg-quotes.png) 14px 15px no-repeat;
}

.sidebar-item:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 14px;
  right: 8px;
  height: 1px;
  background: #eaeaea;
}

.sidebar-item blockquote {
  margin: 0 0 15px;
}

.sidebar-item p {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}

/* Form */
.form-item {
  overflow: hidden;
}

.form-item:not(:last-child) {
  margin-bottom: 30px;
}

.form-item label {
  float: left;
  width: 25%;
}

.form-item .textfield {
  float: left;
  width: 75%;
}

.form-item label span {
  display: block;
}

.form-item label span:first-child {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.textfield {
  border: 1px solid #ddd;
  padding: 6px 10px;
  font-size: 14px;
  resize: none;
}

.btn {
  margin-top: 13px;
  margin-left: 25%;
  padding: 10px 18px;
  background: #fdfbf1;
  border: 1px solid #dbd6c6;
  cursor: pointer;
}