html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    
}

body {
    margin: 0;
    background: #f9f6ea;
    font: 11px Arial, Helvetica, sans-serif;
    line-height: 1.9;
    color: #8d8d8d;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

/* header block styling */

.container {
    width: 981px;
    margin-left: auto;
    margin-right: auto;
}


.header {
    height: 132px;
    background: #153b3c;
    border-bottom: 1px solid #fff;
}

.logo {
    padding-top: 57px;
    position: relative;
}

.logo p {
    
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    color: #fffafa;    
}

.photo-color {
    color: #ffc600;
}

.logo,
.menu {
    display: inline-block;
}


.menu {
    position: absolute;
    padding-left: 381px;
    padding-top: 65px;
    
}

.menu a {
    transition: 0.3s;
}

.menu ul {
    font-size: 0;
    
}

.menu li {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}

.menu li:not(:last-child) {
    margin-right: 34px;
}

.menu a:hover {
    color: #ffc600;
    text-decoration: underline;
    
}


/* main block styling */


.main .container {
    background: #fff;
    border: 1px solid #eeeadc;
    margin-top: -16px;
}

.sect-wrapper,
.aside-wrapper {
    padding-top: 11px;    
    display: table-cell;
}

h3 {
    color:  #000000;
}

.sect-wrapper h3 {
    margin-left: 18px;
}

.section {
    margin-right: 22px;
    margin-left: 16px;
    margin-bottom: 16px;
    
}

.info {
    padding-top: 9px;
    margin-left: 20px;
    padding-bottom: 10px;
    margin-right: 9px;
    border-bottom: 1px solid #eaeaea;
}

.section .info:not(:first-child) {
    padding-top: 32px;
}

.info img {
    float: right;
}



.button-lunch button {
    width: 139px;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    background: #fdfbf1;
    border: 1px solid #dbd6c6;
}

.button-page button {
    width: 32px;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    background: #fdfbf1;
    border: 1px solid #dbd6c6;
    margin: 11px 0;
}

.button-page button:first-child {
    background: #f0ede0;
    margin-left: 20px;
}

.info button {
    margin-left: 51%;
}

.text {
    margin-right: 55%;
}

h1 {
    margin: 0;
    font-size: 36px;
    border-bottom: 1px solid #eaeaea;
    margin-right: 55%;
}

.aside {
    margin-right: 16px;
}

.section,
.aside-article,
.banner {
    border: 1px solid #ededed;
     box-shadow:
       0 0 0 7px #fdfbf1,
       0 0 0 8px #ededed;
}

.aside-wrapper {
    width: 345px;
}

.aside article:not(:last-child) {
    margin-bottom: 22px;
}

.banner-item {
    height: 61px;
    background: #f0ede0;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
}

.aside-article p {
    text-align: right;
}

.aside-article:first-child {
    border: 1px solid #eaeaea;
}

/* footer block styling */

